/* reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* header */
.header {
  background: #2b65ec;
  padding: 1rem;
  color: #fff;
}

.header-heading {
  font-size: 3rem;
}

/* footer */

.footer {
  background: #483c32;
  color: #fff;
  padding: 0.5rem;
}

.footer-text {
  text-align: center;
  font-weight: bold;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

/* main */
.main {
  flex: 1;
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  background: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* searchbar styling */
.search-bar {
  margin: 1rem;
}

.search-bar-input {
  outline: none;
  border: none;
  padding: 0.7rem;
  font-size: 2rem;
  font-weight: bold;
  color: #2b65ec;
  background: transparent;
  border-bottom: 0.5rem solid #2b65ec;
}

/* videos styling */
.videos {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.video-thumbnail {
  max-width: 100%;
  width: 100%;
  display: block;
}

.video-title {
  border-bottom: 0.1rem solid #0f0;
  padding-bottom: 0.4rem;
}

.video-title,
.video-description {
  text-align: center;
  font-size: 1rem;
  margin: 1rem;
}

/* responsive layout */
@media screen and (max-width: 500px) {
  .videos {
    display: block;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 901px) and (max-width: 1300px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}
